<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form [formGroup]= "cardForm" class="cardName">
        <mat-form-field>
            <input formControlName = "cardName" id="nombre" matInput placeholder="Search a card by name:">
        </mat-form-field>
    </form>
    <button id="buscar" mat-raised-button color="primary" (click)="search()">Search</button>
    <li *ngFor="let carta of cartas.data">
        <div class="cardData">
            <button class="cardImage" style="width: 200px; height:300px ; background-image: url({{carta.card_images[0].image_url}}); background-size:contain"></button>
            <div class="description">
                <p>{{carta.name}}</p>
                <ng-container *ngIf="carta.atk!=undefined">
                    <p>ATK: {{carta.atk}}</p>
                </ng-container>
                <ng-container *ngIf="carta.def!=undefined">
                    <p>DEF: {{carta.def}}</p>
                </ng-container>
                <p>{{carta.desc}}</p>
                <p>OCG: {{carta.banlist_info.ban_ocg}} TCG: {{carta.banlist_info.ban_tcg}}</p>
            </div>
        </div> 
    </li>
    <h3>Banlists common elements</h3>
    <h4>Forbidden</h4>
    <div class="banlist">
        <ng-container *ngFor="let carta of banlist_tcg.data">
            <ng-container *ngIf="carta.banlist_info.ban_ocg == carta.banlist_info.ban_tcg && carta.banlist_info.ban_ocg =='Banned'">
                <div class="cardData">
                    <button class="cardImage" style="background-image: url({{carta.card_images[0].image_url_small}}); background-size:contain" (click)="showDescription(carta.id)"></button>
                    <div class="description">
                        <p>{{carta.name}}</p>
                        <ng-container *ngIf="carta.atk!=undefined">
                            <p>ATK: {{carta.atk}}</p>
                        </ng-container>
                        <ng-container *ngIf="carta.def!=undefined">
                            <p>DEF: {{carta.def}}</p>
                        </ng-container>
                        <p>{{carta.desc}}</p>
                        <p>OCG: {{carta.banlist_info.ban_ocg}} TCG: {{carta.banlist_info.ban_tcg}}</p>
                    </div>     
                </div>
            </ng-container>
        </ng-container>
    </div>
    <h4>Limited</h4>
    <div class="banlist"> 
        <ng-container *ngFor="let carta of banlist_tcg.data">
            <ng-container *ngIf="carta.banlist_info.ban_ocg == carta.banlist_info.ban_tcg && carta.banlist_info.ban_ocg =='Limited'">
                <div class="cardData">
                    <button class="cardImage" style="background-image: url({{carta.card_images[0].image_url_small}}); background-size:contain" (click)="showDescription(carta.id)"></button>
                    <div class="description">
                        <p>{{carta.name}}</p>
                        <ng-container *ngIf="carta.atk!=undefined">
                            <p>ATK: {{carta.atk}}</p>
                        </ng-container>
                        <ng-container *ngIf="carta.def!=undefined">
                            <p>DEF: {{carta.def}}</p>
                        </ng-container>
                        <p>{{carta.desc}}</p>
                        <p>OCG: {{carta.banlist_info.ban_ocg}} TCG: {{carta.banlist_info.ban_tcg}}</p>
                    </div>     
                </div>
            </ng-container>
        </ng-container>
    </div>
    <h4>Semi-Limited</h4>
    <div class="banlist">
        <ng-container *ngFor="let carta of banlist_tcg.data">
            <ng-container *ngIf="carta.banlist_info.ban_ocg == carta.banlist_info.ban_tcg && carta.banlist_info.ban_ocg =='Semi-Limited'">
                <div class="cardData">
                    <button class="cardImage" style="background-image: url({{carta.card_images[0].image_url_small}}); background-size:contain" (click)="showDescription(carta.id)"></button>
                    <div class="description">
                        <p>{{carta.name}}</p>
                        <ng-container *ngIf="carta.atk!=undefined">
                            <p>ATK: {{carta.atk}}</p>
                        </ng-container>
                        <ng-container *ngIf="carta.def!=undefined">
                            <p>DEF: {{carta.def}}</p>
                        </ng-container>
                        <p>{{carta.desc}}</p>
                        <p>OCG: {{carta.banlist_info.ban_ocg}} TCG: {{carta.banlist_info.ban_tcg}}</p>
                    </div>     
                </div>
            </ng-container>
        </ng-container>
    </div>

    <h3>Diferencias entre las banlist</h3>
    <h3>TCG</h3>
    <h4>Forbidden</h4>
    <div class="banlist">
        <ng-container *ngFor="let carta of banlist_tcg.data">
            <ng-container *ngIf="carta.banlist_info.ban_ocg != carta.banlist_info.ban_tcg && carta.banlist_info.ban_tcg =='Banned'">
                <div class="cardData">
                    <button class="cardImage" style="background-image: url({{carta.card_images[0].image_url_small}}); background-size:contain" (click)="showDescription(carta.id)"></button>
                    <div class="description">
                        <p>{{carta.name}}</p>
                        <ng-container *ngIf="carta.atk!=undefined">
                            <p>ATK: {{carta.atk}}</p>
                        </ng-container>
                        <ng-container *ngIf="carta.def!=undefined">
                            <p>DEF: {{carta.def}}</p>
                        </ng-container>
                        <p>{{carta.desc}}</p>
                        <p>OCG: {{carta.banlist_info.ban_ocg}} TCG: {{carta.banlist_info.ban_tcg}}</p>
                    </div>     
                </div>
            </ng-container>
        </ng-container>
    </div>
    <h4>Limited</h4>
    <div class="banlist"> 
        <ng-container *ngFor="let carta of banlist_tcg.data">
            <ng-container *ngIf="carta.banlist_info.ban_ocg != carta.banlist_info.ban_tcg && carta.banlist_info.ban_tcg =='Limited'">
                <div class="cardData">
                    <button class="cardImage" style="background-image: url({{carta.card_images[0].image_url_small}}); background-size:contain" (click)="showDescription(carta.id)"></button>
                    <div class="description">
                        <p>{{carta.name}}</p>
                        <ng-container *ngIf="carta.atk!=undefined">
                            <p>ATK: {{carta.atk}}</p>
                        </ng-container>
                        <ng-container *ngIf="carta.def!=undefined">
                            <p>DEF: {{carta.def}}</p>
                        </ng-container>
                        <p>{{carta.desc}}</p>
                        <p>OCG: {{carta.banlist_info.ban_ocg}} TCG: {{carta.banlist_info.ban_tcg}}</p>
                    </div>     
                </div>
            </ng-container>
        </ng-container>
    </div>
    <h4>Semi-Limited</h4>
    <div class="banlist">
        <ng-container *ngFor="let carta of banlist_tcg.data">
            <ng-container *ngIf="carta.banlist_info.ban_ocg != carta.banlist_info.ban_tcg && carta.banlist_info.ban_tcg =='Semi-Limited'">
                <div class="cardData">
                    <button class="cardImage" style="background-image: url({{carta.card_images[0].image_url_small}}); background-size:contain" (click)="showDescription(carta.id)"></button>
                    <div class="description">
                        <p>{{carta.name}}</p>
                        <ng-container *ngIf="carta.atk!=undefined">
                            <p>ATK: {{carta.atk}}</p>
                        </ng-container>
                        <ng-container *ngIf="carta.def!=undefined">
                            <p>DEF: {{carta.def}}</p>
                        </ng-container>
                        <p>{{carta.desc}}</p>
                        <p>OCG: {{carta.banlist_info.ban_ocg}} TCG: {{carta.banlist_info.ban_tcg}}</p>
                    </div>     
                </div>
            </ng-container>
        </ng-container>
    </div>

    <h3>OCG</h3>
    <h4>Forbidden</h4>
    <div class="banlist">
        <ng-container *ngFor="let carta of banlist_ocg.data">
            <ng-container *ngIf="carta.banlist_info.ban_ocg != carta.banlist_info.ban_tcg && carta.banlist_info.ban_ocg =='Banned'">
                <div class="cardData">
                    <button class="cardImage" style="background-image: url({{carta.card_images[0].image_url_small}}); background-size:contain" (click)="showDescription(carta.id)"></button>
                    <div class="description">
                        <p>{{carta.name}}</p>
                        <ng-container *ngIf="carta.atk!=undefined">
                            <p>ATK: {{carta.atk}}</p>
                        </ng-container>
                        <ng-container *ngIf="carta.def!=undefined">
                            <p>DEF: {{carta.def}}</p>
                        </ng-container>
                        <p>{{carta.desc}}</p>
                        <p>OCG: {{carta.banlist_info.ban_ocg}} TCG: {{carta.banlist_info.ban_tcg}}</p>
                    </div>     
                </div>
            </ng-container>
        </ng-container>
    </div>
    <h4>Limited</h4>
    <div class="banlist"> 
        <ng-container *ngFor="let carta of banlist_ocg.data">
            <ng-container *ngIf="carta.banlist_info.ban_ocg != carta.banlist_info.ban_tcg && carta.banlist_info.ban_ocg =='Limited'">
                <div class="cardData">
                    <button class="cardImage" style="background-image: url({{carta.card_images[0].image_url_small}}); background-size:contain" (click)="showDescription(carta.id)"></button>
                    <div class="description">
                        <p>{{carta.name}}</p>
                        <ng-container *ngIf="carta.atk!=undefined">
                            <p>ATK: {{carta.atk}}</p>
                        </ng-container>
                        <ng-container *ngIf="carta.def!=undefined">
                            <p>DEF: {{carta.def}}</p>
                        </ng-container>
                        <p>{{carta.desc}}</p>
                        <p>OCG: {{carta.banlist_info.ban_ocg}} TCG: {{carta.banlist_info.ban_tcg}}</p>
                    </div>     
                </div>
            </ng-container>
        </ng-container>
    </div>
    <h4>Semi-Limited</h4>
    <div class="banlist">
        <ng-container *ngFor="let carta of banlist_ocg.data">
            <ng-container *ngIf="carta.banlist_info.ban_ocg != carta.banlist_info.ban_tcg && carta.banlist_info.ban_ocg =='Semi-Limited'">
                <div class="cardData">
                    <button class="cardImage" style="background-image: url({{carta.card_images[0].image_url_small}}); background-size:contain" (click)="showDescription(carta.id)"></button>
                    <div class="description">
                        <p>{{carta.name}}</p>
                        <ng-container *ngIf="carta.atk!=undefined">
                            <p>ATK: {{carta.atk}}</p>
                        </ng-container>
                        <ng-container *ngIf="carta.def!=undefined">
                            <p>DEF: {{carta.def}}</p>
                        </ng-container>
                        <p>{{carta.desc}}</p>
                        <p>OCG: {{carta.banlist_info.ban_ocg}} TCG: {{carta.banlist_info.ban_tcg}}</p>
                    </div>     
                </div>
            </ng-container>
        </ng-container>
    </div>
</body>
</html>
